Sevgili ${userfirstname},

Demek e-posta adresini değiştirmek istiyorsun. Tamam, sorun değil. Ama bundan sonra sana ulaşabileceğimden emin olmalıyım ki yeniliklerden habersiz kalma.

Adresini doğrulamak için aşağıdaki bağlantıya tıklar mısın?

${link}

Yeni e-posta adresin hayırlı olsun bu arada, güle güle kullan :)

Sevgiler,
"fi"

www.bifincan.com
