Merhaba,

${userfirstname} ${userlastname} seni bifincan.com'a katılmaya davet ediyor.

"Bifincan da ne?" diyorsan, tüketicinin sesini markaya duyuran bi icat.

Daha uzun bir anlatımla, daha kaliteli ürün ve hizmetler almak için biraraya gelerek markalara ve ürünlerine sesini duyuran bilinçli tüketicilerin, tüketici dostu markalar ile buluşma noktası.

Bifincan'da markaların ürün ve hizmetlerine hiçbir ücret ödemeden sahip olabiliyorsun, seçtiğin ürünler kargo ücreti dahi talep edilmeden kapına kadar gönderiliyor.

Bunun için tek yapman gereken, markalar ve ürünleri ile ilgili sorulara tık tık cevap vermek, o kadar.

Eğer ${userfirstname}'ın daveti senin için yeterli ise veya "${userfirstname} da kim yahu?" diyor ama şu an meraktan yerinde duramıyorsan, üye olmak için aşağıdaki bağlantıya tıklaman yeterli.

${link}
	
Önce şöyle bir gezeyim diyorsan, ${baseurl} adresindeyim. Bifincan'ın işleyişi hakkında merak ettiklerin varsa, ${baseurl}/bazen-sorulan-sorular-ve-hic-okunmayan-yanitlari adresine göz at istersen.

Üye olmak zorunda değilsin elbet, ama ben ara ara sana bu daveti hatırlatacağım. Eğer "Bu daveti bana hatırlatma" diyorsan aşağıdaki bağlantıya tıkla lütfen.

${link2}

Bu senin aldığın ilk davet değil, hele bir de "Bu ne biçim iş yahu, iis - tee - mii - yooo - ruumm, o kadar!" diyorsan, aşağıdaki bağlantıya tıkla, şu ana kadar sana gelen hiçbir daveti artık hatırlatmayayım.

${link3}

Ama eğer bir gün pişman olur, arkadaşlarının üçer beşer bifincan üyesi olduğunu duymaya başlar da "Hay Allah, üye olmak istiyorum yaa :(" dersen merak etme, bu davetiye sen ne zaman istersen senin için hazır. Yukarıdaki üyelik bağlantısını sakla istersen ;)

Sevgiler,
"fi"

${baseurl}
