<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body style="padding: 12px">
        <p style="font-size: 14px; font-family: Arial, color: #3d4c4c; font-family: Arial, Helvetica, 'Helvetica Neue', 'Myriad PRO', sans-serif; line-height: 20px;">
            Merhaba,
        </p>

        <p style="font-size: 14px; font-family: Arial, color: #3d4c4c; font-family: Arial, Helvetica, 'Helvetica Neue', 'Myriad PRO', sans-serif; line-height: 20px;">
            ${userfirstname} ${userlastname} seni bifincan.com'a katılmaya davet ediyor.
        </p>

        <p style="font-size: 14px; font-family: Arial, color: #3d4c4c; font-family: Arial, Helvetica, 'Helvetica Neue', 'Myriad PRO', sans-serif; line-height: 20px;">
            "Bifincan da ne?" diyorsan, tüketicinin sesini markaya duyuran bi icat.
        </p>

        <p style="font-size: 14px; font-family: Arial, color: #3d4c4c; font-family: Arial, Helvetica, 'Helvetica Neue', 'Myriad PRO', sans-serif; line-height: 20px;">
            Daha uzun bir anlatımla, daha kaliteli ürün ve hizmetler almak için biraraya gelerek markalara ve ürünlerine sesini duyuran bilinçli tüketicilerin, tüketici dostu markalar ile buluşma noktası.
        </p>

        <p style="font-size: 14px; font-family: Arial, color: #3d4c4c; font-family: Arial, Helvetica, 'Helvetica Neue', 'Myriad PRO', sans-serif; line-height: 20px;">
            Bifincan'da markaların ürün ve hizmetlerine hiçbir ücret ödemeden sahip olabiliyorsun, seçtiğin ürünler kargo ücreti dahi talep edilmeden kapına kadar gönderiliyor.
        </p>

        <p style="font-size: 14px; font-family: Arial, color: #3d4c4c; font-family: Arial, Helvetica, 'Helvetica Neue', 'Myriad PRO', sans-serif; line-height: 20px;">
            Bunun için tek yapman gereken, markalar ve ürünleri ile ilgili sorulara tık tık cevap vermek, o kadar.
        </p>

        <p style="font-size: 14px; font-family: Arial, color: #3d4c4c; font-family: Arial, Helvetica, 'Helvetica Neue', 'Myriad PRO', sans-serif; line-height: 20px;">
            Eğer ${userfirstname}'ın daveti senin için yeterli ise veya "${userfirstname} da kim yahu?" diyor ama şu an meraktan yerinde duramıyorsan, üye olmak için aşağıdaki bağlantıya tıklaman yeterli.
        </p>

        <p style="border: 1px solid #D9DFDF; background: #F2F4F4; padding: 24px; font-size: 14px; font-family: Arial, color: #3d4c4c; font-family: Arial, Helvetica, 'Helvetica Neue', 'Myriad PRO', sans-serif; line-height: 20px;">
            <a style="color: #000000;" href="${link}">${link}</a>
        </p>

        <p style="font-size: 14px; font-family: Arial, color: #3d4c4c; font-family: Arial, Helvetica, 'Helvetica Neue', 'Myriad PRO', sans-serif; line-height: 20px;">
            Önce şöyle bir gezeyim diyorsan, <a style="color: #000000;" href="${baseurl}">${baseurl}</a> adresindeyim. Bifincan'ın işleyişi hakkında merak ettiklerin varsa, <a style="color: #000000;" href="${baseurl}/bazen-sorulan-sorular-ve-hic-okunmayan-yanitlari">${baseurl}/bazen-sorulan-sorular-ve-hic-okunmayan-yanitlari</a> adresine göz at istersen.
        </p>

        <p style="font-size: 14px; font-family: Arial, color: #3d4c4c; font-family: Arial, Helvetica, 'Helvetica Neue', 'Myriad PRO', sans-serif; line-height: 20px;">
            Üye olmak zorunda değilsin elbet, ama ben ara ara sana bu daveti hatırlatacağım. Eğer "Bu daveti bana hatırlatma" diyorsan aşağıdaki bağlantıya tıkla lütfen.
        </p>

        <p style="border: 1px solid #D9DFDF; background: #F2F4F4; padding: 24px; font-size: 14px; font-family: Arial, color: #3d4c4c; font-family: Arial, Helvetica, 'Helvetica Neue', 'Myriad PRO', sans-serif; line-height: 20px;">
            <a style="color: #000000;" href="${link2}">${link2}</a>
        </p>

        <p style="font-size: 14px; font-family: Arial, color: #3d4c4c; font-family: Arial, Helvetica, 'Helvetica Neue', 'Myriad PRO', sans-serif; line-height: 20px;">
            Bu senin aldığın ilk davet değil, hele bir de "Bu ne biçim iş yahu, iis - tee - mii - yooo - ruumm, o kadar!" diyorsan, aşağıdaki bağlantıya tıkla, şu ana kadar sana gelen hiçbir daveti artık hatırlatmayayım.
        </p>

        <p style="border: 1px solid #D9DFDF; background: #F2F4F4; padding: 24px; font-size: 14px; font-family: Arial, color: #3d4c4c; font-family: Arial, Helvetica, 'Helvetica Neue', 'Myriad PRO', sans-serif; line-height: 20px;">
            <a style="color: #000000;" href="${link3}">${link3}</a>
        </p>

        <p style="font-size: 14px; font-family: Arial, color: #3d4c4c; font-family: Arial, Helvetica, 'Helvetica Neue', 'Myriad PRO', sans-serif; line-height: 20px;">
            Ama eğer bir gün pişman olur, arkadaşlarının üçer beşer bifincan üyesi olduğunu duymaya başlar da "Hay Allah, üye olmak istiyorum yaa :(" dersen merak etme, bu davetiye sen ne zaman istersen senin için hazır. Yukarıdaki üyelik bağlantısını sakla istersen ;)
        </p>

        <p style="font-size: 14px; font-family: Arial, color: #3d4c4c; font-family: Arial, Helvetica, 'Helvetica Neue', 'Myriad PRO', sans-serif; line-height: 20px;">
            Sevgiler,<br/>
            "fi"<br/>
            <br/>
            <a style="color: #000000;" href="${baseurl}">${baseurl}</a>
        </p>
    </body>
</html>
