Sevgili ${userfirstname},

Hediyenin eline sağ salim ulaştığına sevindim.

Ama unutma, sen hediyenin keyfini çıkarırken, senin görüşlerini sabırsızlıkla bekleyen bir marka yöneticisi var, seni dinlemek, görüşlerini almak ve ürününü daha da iyiye ulaştırmak için hazırda bekliyor.

Hediyeni denemen, kullanman, eşe dosta ne kadar da sözü dinlenen, güvenilir ve bilinçli bir tüketici olduğunu anlatarak hava atman için sana ${remainingdaysforsurvey} gün veriyorum.

Bu süre sonunda bifincan'da ansızın karşına bu hediyeyle ilgili kısa kısa sorular çıkacak ve sana bol bol fi kazandıracak.

Ha bir de, bu hediyenle ilgili küçük bir sınav var, korkma, tek soruluk. Doğru yanıtı bilirsen daha da fi kazanacaksın, bu sebeple ürünü ve markayı tanımaya çalış.

Sevgiler,
"fi"

www.bifincan.com
