Sevgili ${userfirstname},

Siparişinin eline sağ salim ulaştığına sevindim.

Ama unutma, sen ürününün keyfini çıkarırken, senin görüşlerini sabırsızlıkla bekleyen bir marka yöneticisi var, seni dinlemek, görüşlerini almak ve ürününü daha da iyiye ulaştırmak için hazırda bekliyor.

Ürününü denemen, kullanman, eşe dosta ne kadar da sözü dinlenen, güvenilir ve bilinçli bir tüketici olduğunu anlatarak hava atman için sana ${remainingdaysforsurvey} gün veriyorum.

Bu süre sonunda bifincan'da ansızın karşına bu ürünle ilgili kısa kısa sorular çıkacak ve sana bol bol fi kazandıracak.

Ha bir de, bu ürünle ilgili küçük bir sınav var, korkma, tek soruluk. Doğru yanıtı bilirsen daha da fi kazanacaksın, bu sebeple ürünü ve markayı tanımaya çalış.

Bu arada biliyorsun, yüzbinmilyon ürünümüz - şimdilik ;) - olmadığı için bir sonraki siparişini şu andan itibaren ${remainingdaysfornextorder} içinde verebilirsin.

Ben bu ürüne bayıldım, bir tane daha istiyorum dersen alışveriş merkezinin yolunu tut derim, ama yok ille de bedava olsun dersen, ${remainingdaysfornextordersameproduct} gün beklemen lazım, bu süreden daha önce aynı üründen tekrar veremiyorum maalesef. E normal ama, herkes birer tane alsın, kimsenin hakkı kimseye geçmesin.

Haydi tekrar güle güle kullan, arada bir bifincan'a uğrayıp seni bekleyen sorularımı yanıtlamaya devam edersen, bilog ve ürünlere yorum yazarsan çok sevinir sana bol bol fi veririm :)

Sevgiler,
"fi"

${baseurl}
