Sevgili ${firstName},

Uzun süredir hiçbir arkadaşını bifincan'a davet etmedin.

Arkadaşlarını davetlerim sayfandan bifincan'a davet edebilir ve bu sayede bool bol "fi" kazanabilirsin :)

Sevgiler,
"fi"

www.bifincan.com

Not: Eğer benden düzenli bilgilendirme ve duyuru mesajları almak istemiyorsan bilgilerim sayfasını kullanarak tercihlerini güncelleyebilirsin.
