Sevgili ${firstName},

${received_time} tarihinde aldığın son hediyene özel soruları halen yanıtlamadın. Yeni hediyeler alabilmek için bu soruları yanıtlaman gerekiyor.

Soruları yanıtlamak için kullanıcı adın ve şifrenle bifincan'a girmen yeterli. Ana sayfada gelen sorular, birkaç soru sonrasında son hediyene özel sorular olacak.

Bir de ödüllü soru var, doğru yanıtlarsan boool bol "fi" kazanacaksın :)

Sevgiler,
"fi"

www.bifincan.com

Not: Sana bu hatırlatmayı yapmaya e-posta tercihlerine bakmaksızın devam etmek zorundayım çünkü soruları mutlaka yanıtlaman gerekiyor, e zaten bifincan'a üye olma sebebin de markalara görüşlerini duyurmak değil miydi :)