Sevgili ${userfirstname},

Demek şifreni unuttun, hmm... Vallahi ben de hatırlamıyorum :(

Şaka, şaka... Senin bilgilerinin gizliliği ve güvenliği için şifreni bir de ben şifreleyip o şifreyi de unutuyorum ki ben de bilmeyeyim. Hani bana türlü türlü işkence yapsalar yine alamazlar şifreni benden.

Kullanıcı adın yine aynı. Eğer unuttuysan, ${username} olması lazım.

Yeni bir şifre oluşturdum sana, o da ${password} ama bence hemen değiştir.

Sevgiler,
"fi"

www.bifincan.com
