Sevgili ${userfirstname},

Bifincan'a hoşgeldin. Artık sen de bifincan'a üye diğer tüm bilinçli tüketiciler gibi, tüketici dostu markalarla ortak bir platformda buluşarak görüşlerini paylaşabilecek, bu görüşlerin sayesinde kazanacağın fi'lerini bifincan'daki hediyeleri hiçbir ücret ödemeden alıp deneyebilmek için dilediğince harcayacabileceksin.

Üyelik işlemlerini tamamlamak için şu andan itibaren en geç 3 gün içinde en az 100 soru yanıtlaman gerekiyor ki bu yaklaşık 15 dakikanı alacak.

Ha unutmadan, hoşgeldin hediyeni üyelik işlemlerin tamamlanır tamamlanmaz sana iletmek üzere hazırlamaya başladım bile. Merak etme, bu ilk hediyen için bırak ücret ödemeyi, fi dahi harcamadın ;) Bundan sonraki hediyelerini sen kendin seçebileceksin.

Sana göndereceğim paketin üzerinde bir de onay kodu olacak ki paketi sağ salim aldığından emin olalım diye sen de bu kodu hediyelerim sayfandan gireceksin.

Bu sırada bifincan'daki sorulara yanıt vererek, yorumlar yaparak, arkadaşlarını davet ederek fi'lerini artırabilirsin.

Bifincan'ın işleyişi hakkında merak ettiklerin varsa, bazen sorulan sorular ve hiç okunmayan yanıtları sayfasına göz at istersen.

Sevgiler,
"fi"

www.bifincan.com
