<html xmlns="http://www.w3.org/1999/xhtml">
<body>
<p>Your Bifincan Administration Panel password is reset successfully.</p>
<p />
<p>Username:${username}</p>
<p>Password:${password}</p>
<p />
<p>Please use the new password to login.</p>
</body>
</html>