<html xmlns="http://www.w3.org/1999/xhtml">
<body>
<p>Bifincan Admin Paneli şifreniz başarıyla değiştirilmiştir.</p>
<p />
<p>Kullanıcı adı:${username}</p>
<p>Şifre:${password}</p>
<p />
<p>Bu yeni bilgiler ile giriş yapabilirsiniz.</p>
</body>
</html>